# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
env/

# Packaging
build/
dist/
*.egg-info/

# Editors/IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Machine learning artifacts
*.pth
*.onnx
*.ckpt

